In [4]:
print("Hello world")

Hello world

In [6]:
number = 1

In [8]:
number +=1

In [10]:
number

2

In [12]:
number -=1

In [14]:
number

1

In [16]:
array = [1,2,3,4]

for item in array:
    print(item)

1
2
3
4

In [42]:
array = [1,2,3,4]
total = 0
for item in array:
    total += item 
    print (item)
total

1
2
3
4

10

In [32]:
ice_block = [1, 2, 3, 4, 5]
amount_frozen = 0
print("Ready to loop!", end = 2*'\n')
for ice_flake in ice_block:
    amount_frozen += ice_flake
    print("Put more ice flake =", ice_flake,
    "\nfrom ice block =", ice_block,
    "\nmaking frozen =", amount_frozen,
    end = '\n\n')
    print("There is", amount_frozen,
    "ice flakes frozen from an ice block")

Ready to loop!

Put more ice flake = 1
from ice block = [1, 2, 3, 4, 5]
making frozen = 1

There is 1 ice flakes frozen from an ice block
Put more ice flake = 2
from ice block = [1, 2, 3, 4, 5]
making frozen = 3

There is 3 ice flakes frozen from an ice block
Put more ice flake = 3
from ice block = [1, 2, 3, 4, 5]
making frozen = 6

There is 6 ice flakes frozen from an ice block
Put more ice flake = 4
from ice block = [1, 2, 3, 4, 5]
making frozen = 10

There is 10 ice flakes frozen from an ice block
Put more ice flake = 5
from ice block = [1, 2, 3, 4, 5]
making frozen = 15

There is 15 ice flakes frozen from an ice block

In [44]:
#odd or even

In [68]:
number = 10.1

if number % 2 == 0:
    print("number is even")

elif number == 10.1:
    print("its a 10")

else:
    print("number is odd")

its a 10

In [78]:
numbers = [1,2,3,5,8,13]
numbers

[1, 2, 3, 5, 8, 13]

In [80]:
#total of even and odd

In [84]:
total_even = 0
total_odd = 0

for number in numbers:
    if number % 2 == 0:
        total_even += number

    else :
        total_odd += number

In [88]:
total_even

10

In [90]:
total_odd

22

In [92]:
#How many seconds will you spend in this 3-days course? Each course day has 8 hours.

In [99]:
days = 3
hours = 8
total_hours = days * hours

In [101]:
total_hours

24

In [103]:
seconds = total_hours * 60 * 60

In [105]:
seconds

86400

In [107]:
#How many groups can be made during teambuilding?
#You are on a company team building event with a total of 57 people. The host of the day asks you
#all to form groups of 6 people. How many groups will there be? And how many people will be
#leftovers without a group?

In [113]:
people = 57
team_number = 6

leftover = people %team_number

In [115]:
leftover

3

In [117]:
name = 'ali'
age = 31

In [121]:

print(
)
"Name: {}, Age: {}".format(age, "Jeremy")
"Name: {1}, Age: {0}".format(age, "Jeremy")
"Name: {1}, Age: {1}".format(age, "Jeremy")
## We'll cover indexing convention properly later

'Name: Jeremy, Age: Jeremy'

In [123]:
#indexing string

In [125]:
text = 'Python'
print(text[0])
print(text[-1])

P
n

In [131]:
if "yth" in text:
    print("yes")

yes

In [139]:
print (True & True)
print (True & False)
print (False & True)

True
False
False

In [141]:
print (True | True)
print (True | False)
print (False | True)

True
True
True

In [148]:
#list and tuples

In [150]:
numbers = [1,2,3,4]

In [158]:
t_numbers = (1,2,3,4)

In [160]:
type(t_numbers)

tuple

In [162]:
#A dictionary is a collection of key-value pairs. It is used to look up things and a very common used type.

In [167]:
person = {
    "name":"Mohtasham",
    "Age" : 18,
    "Male" : True,}

In [169]:
type(person)

dict

In [171]:
person.values()

dict_values(['Mohtasham', 18, True])

In [173]:
person.keys()

dict_keys(['name', 'Age', 'Male'])

In [175]:
for values in person:
    print(person.values())

dict_values(['Mohtasham', 18, True])
dict_values(['Mohtasham', 18, True])
dict_values(['Mohtasham', 18, True])

In [183]:
def object_info(obj):
    print("Value: {}, Type: {}, Id: {}".format(obj, type(obj), id(obj)))

In [185]:
object_info(person)

Value: {'name': 'Mohtasham', 'Age': 18, 'Male': True}, Type: <class 'dict'>, Id: 5289741184

In [209]:
def weekend(day):
    if day == "Saturday" or day == "Sunday":
        print("weekend")
    else:
        print("not weekend")

In [211]:
weekend("Friday")

not weekend

In [213]:
#while loop runs until the consdition is true

In [217]:
number = 0
while 10 > number:
    number+=1
    print (number)

1
2
3
4
5
6
7
8
9
10

In [221]:
total = 0
while total < 50:
    x = int(input())
    total += x
print("total:", total, "x:", x)

 40
 10

total: 50 x: 10

In [235]:
x = input()

 4

In [238]:
items = ["banana", "orange", "apple"]

In [242]:
list(enumerate(items))

[(0, 'banana'), (1, 'orange'), (2, 'apple')]

In [254]:
months = ["January", "February", "March", "April", "May", "June", "July",
"August", "September", "October", "November", "December"]
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [256]:
month_d

{'December': 31}

In [258]:
month_days = {month: day for month, day in zip(months, days)}

print(month_days)

{'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31, 'November': 30, 'December': 31}

In [266]:
def month_day(month):
    if month in month_days.values():
        print (monthdays.key())

month_day('January')

In [272]:
def month_day(month):
    if month in month_days:  # Check if the month is in the dictionary keys
        print(f"{month} has {month_days[month]} days.")
    else:
        print("Invalid month name.")

# Test the function
month_day('January')
month_day("February")

January has 31 days.
February has 28 days.

In [276]:
prices = {"apple": 1.5, "orange": 3.25}
prices["apple"]

1.5

In [278]:
copy_prices = prices.copy()

In [282]:
copy_prices

{'apple': 1.5, 'orange': 3.25}